.msg {
    text-align: center;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 2rem;
    position:absolute;
    left: 14%;
    top: 30%;
    width: 75%;
  }

a {
  text-decoration: none;
  color: #3990c7;
}

a:hover {
  text-decoration: underline;
}