<div class="container">
    <div id="firebaseui-auth-container">
        <form [formGroup]="formRegister" id="register-form" method="post" (ngSubmit)="createUser(formRegister.value)" >
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>


            <p>Display Name</p>
            <label for="displayName"></label>
            <input type="text" placeholder="Enter Display Name" name="displayName"
                id="displayName">

            <!-- <ng-container *ngIf="form.get('displayName').touched">
                <p *ngIf="form.get('displayName').errors.required"
                    class="errors">
                    Username is required!
                </p>
                <p *ngIf="form.get('username').errors.minlength"
                    class="errors">
                    Username should be more than 5 symbols!
                </p>
            </ng-container> -->


            <p>Email</p>
            <label for="email"></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" formControlName="email">

            <!-- <ng-container *ngIf="form.get('email').touched">
                <p *ngIf="form.get('email').errors.required" class="errors">
                    Email is required!
                </p>
                <p *ngIf="form.get('email').errors.invalidEmail"
                    class="errors">
                    Invalid email!
                </p>
            </ng-container> -->


            <p>Password</p>
            <label for="password"></label>
            <input type="password" placeholder="Enter Password" name="password"
                id="password" formControlName="password">

            <!-- <ng-container *ngIf="form.get('password').touched">
                <p *ngIf="form.get(password).errors.required"
                    class="errors">
                    Password is required!
                </p>
                <p *ngIf="form.get(password).errors.minlength(6)"
                    class="errors">
                    Password should be more than 6 characters!
                </p>
            </ng-container> -->


            <p>Repeat Password</p>
            <label for="repeatPass"></label>
            <input type="password" placeholder="Repeat Password"
                name="repeatPass" id="repeatPass">
            <hr>

            <!-- <ng-container *ngIf="form.get('repeatPass').touched">
                <p *ngIf="form.get(repeatPass).errors.required" class="error">
                    Repeat Password is required!
                </p>
                <p *ngIf="form.get(repeatPass).errors.checkForTheSameValue"
                    class="error">
                    Repeat Password don't match Password!!
                </p>
            </ng-container> -->


            <input type="submit" class="registerbtn" value="Register">
        </form>
        <div class="login">
            <p>Already have an account?
                <a routerLink="/login">Login</a>.
            </p>
        </div>
    </div>
</div>