
.create-post-border .input {
    margin-bottom: 2em;
    border-radius: 1em;
    width: 100%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    font-size: 22px;
}

textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 1.5em;
    margin: 0;
}

.fields {
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    padding: 30px 50px;
    width: 550px;
    margin: 30px 680px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid black;
}

.fields h1 {
    height: 3em;

}

.preview {
    height: 210px;
    width: 250px;
    text-align: center;
}

.preview>img {
    object-fit: contain;
    height: 200px;
    width: 450px;
}

.data-info {
    margin-top: 8px;
}

label {
    font-size: 20px;
}

p.validation {
    font-family: 'Arial Narrow', sans-serif;
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.buttonCreatePost {
    font-family: 'Arial Narrow', sans-serif;
    background-color: rgb(105, 175, 128);
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    margin: 20px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}