.create-post-border {
    display: flex;
    padding: 3vh;
}

.create-post-border .input {
    margin-bottom: 2em;
    border-radius: 1em;
    width: 100%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    font-size: 22px;
}

textarea {
    font-family: 'Arial Narrow', sans-serif;
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0;
    font-size: 16px;
}

.fields {
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    padding: 30px 50px;
    width: 550px;
    border-radius: 8px;
    border: 2px solid black;
}

.fields h1 {
    height: 3em;

}

.preview {
    height: 210px;
    width: 250px;
    text-align: center;
}

.preview>img {
    object-fit: contain;
    height: 200px;
    width: 450px;
}

.data-info {
    margin-top: 8px;
}

label {
    font-size: 20px;
}

p.errors {
    font-family: 'Arial Narrow', sans-serif;
    font-weight: bold;
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.buttonCreatePost {
    font-family: 'Arial Narrow', sans-serif;
    background-color: rgb(105, 175, 128);
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    margin: 20px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
  }
  .center h1 {
    font-size: 2em;
    border-left: 5px solid dodgerblue;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
  }
  .center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
  }
  .center .inputbox input {
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
  }
  .center .inputbox.area {
    margin-bottom: 0;
    width: 100%;
    height: auto;
  }

  .center .inputbox [type="button"] {
    width: 50%;
    background: dodgerblue;
    color: #fff;
    border: #fff;
  }
  .center .inputbox:hover [type="button"] {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
  }