<ng-container *ngIf="posts">
    <div *ngIf="isLoggedIn">
        <button type="button" class="buttonCreatePost" routerLink="/create-post">CREATE POST</button>
    </div>
    <div *ngIf="!isLoggedIn">
        <input type="submit" routerLink="/create-post" value="CREATE POST">
    </div>
    
    <h1>Blog Posts</h1>
    <div *ngFor="let post of posts" class="post-container">
        <div class="preview">
            <img src={{post.data().imageUrl}}>
        </div>
        <h2>{{post.data().title}}</h2>
        <div class="info">
            <div class="data-info">
                <h3>Published Date: {{post.data().publishedDate}}</h3>
                <h3>Author: {{post.data().author}}</h3>
            </div>
            <div class="data-buttons">
                <a routerLink="/post-details/{{post.id}}" class="buttonPostDetails">Details</a>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!posts">Soon...</ng-container>