<header>
    <div class="navbar-header">
        <img class="logo" src="/assets/logo.jpg" routerLink="/">
        <span> Civil Engineer Blog</span>
        <div class="navbar">
             
            <ul *ngIf="!isLoggedIn">
                <li><a routerLink="/login">LOGIN</a></li>
                <li><a routerLink="/register">REGISTER</a></li>
            </ul>
            <ul *ngIf="isLoggedIn">
                <li><a>WELCOME, {{authService.userDetails.displayName}}</a></li>
                <li><a (click)="logout()">LOGOUT</a></li>
            </ul>
            <ul *ngIf="isLoggedIn">
            <li><a routerLink="/my-posts/:id">MY POSTS</a></li>
        </ul>
        </div>
    </div>

    <nav>
        <ul>
            <li><a routerLink="/home">HOME</a></li>
            <li><a routerLink="/posts">ALL POSTS</a></li>
            <li><a routerLink="/about">ABOUT US</a></li>
        </ul>
    </nav>

</header>

<!-- <div *ngIf="!isLoggedIn">
     <img class="background-start-page" src="/assets/background 4.jpg"> 
</div> -->