
  <header>
    <div class="navbar-header">
        <img class="logo" src="/assets/logo.jpg" routerLink="/">
        <span> Civil Engineer Blog</span>
        <div class="navbar">
             
            <ul *ngIf="!chekcIfLogged">
                <li><a routerLink="/login">LOGIN</a></li>
                <li><a routerLink="/register">REGISTER</a></li>
            </ul>
            <ul *ngIf="chekcIfLogged">
                <li><a routerLink="/user-profile">WELCOME, {{email}}</a></li>
                <li><a (click)="logout()">LOGOUT</a></li>
            </ul>
            <ul *ngIf="chekcIfLogged">
            <li><a routerLink="/my-posts">My Posts</a></li>
            <li><a routerLink="/create-post">Create Post</a></li>
            <li><a routerLink="/edit-post">Edit Post</a></li>
        </ul>
        </div>
    </div>

    <nav>
        <ul>
            <li><a routerLink="/about">ABOUT US</a></li>
            <li><a routerLink="/home">HOME</a></li>
            <li><a routerLink="/posts">ALL POSTS</a></li>
            <li><a routerLink="/search">SEARCH</a></li>
        </ul>
    </nav>

</header>

    <!-- <img class="background" src="/assets/background 4.jpg">  -->