.post-container {
    margin: auto;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    padding: 20px 30px;
    max-width: 750px;
    min-width: 300px;
    border-radius: 10px;
    border: 3px solid rgb(83, 187, 201);
  }
  
  .post-container h2 {
    font-size: 22px;
    height: 3em;
    justify-content: left;
    text-align: left;
    left: 0px;
    color: rgb(83, 187, 201);
  }
  
  .preview {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  
  .preview > img {
    object-fit: contain;
  }
  
  .data-info {
    margin-top: -30px;
  }
  
  h3 {
    font-size: 18px;
    text-align: left;
    left: 0px;
  }
  
  .data-buttons {
    text-align: center;
    margin: 10px;
  }
  
  .buttonBackToPosts {
    background-color: rgb(83, 187, 201);
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }
  
  .claps-container {
    margin-top: 10px;
  }
  
  .claps-button {
    width: 30px;
    height: 30px;
  }
  
  .claps-button :hover {
    cursor: pointer;
    fill: #53bbc9;
  }
  
  .claps-number {
    vertical-align: super;
    margin-left: 2px;
  }
  
  .details-page {
    display: flex;
    padding: 5vh;
  }
  
  .img-responsive {
    width: 80%;
    height: auto;
  }
  