<ng-container>
    <div class="post-container">
        <div class="preview">
            <img src="{{post.imageUrl}}">
        </div>
        <h2>Title: {{post.title}}</h2>
        <div class="info">
            <div class="data-info">
                <h3>Published Date: {{post.publishedDate}}</h3>
                <h3>Author: {{post.author}}</h3>
                <h3>Language: {{post.Language}}</h3>
                <h3>Content: {{post.content}}</h3>
            </div>
            <div class="data-buttons">
                <a routerLink="/posts" class="buttonBackToPosts">Back</a>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="posts">Soon...</ng-container>