<ng-container>
    <div class="post-container">
        <div class="preview">
            <img src={{post.imageUrl}}>
        </div>
        <h2>Title: {{post.title}}</h2>
        <div class="info">
            <div class="data-info">
                <h3>Published Date:</h3>
                <p>{{post.publishedDate}}</p>

                <h3>Author:</h3>
                <p>{{post.author}}</p>

                <h3>Language:</h3>
                <p>{{post.language}}</p>

                <h3>Content:</h3>
                <p>{{post.content}}</p>
            </div>
            <div class="data-buttons">
                <a routerLink="/posts" class="buttonBackToPosts">Back</a>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="posts">Soon...</ng-container>